.hero {
  height: 568px;
  text-align: center;
  background: url('/images/industries-hero.png') no-repeat center center;
  background-size: cover;
  color: white;
  padding: 80px 20px;
}

.hero h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  line-height: 100px;
  font-weight: 800;
  margin-bottom: 60px;
}

.hero p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.highlight {
  color: #ff6f0f; 
  font-weight: bold;
  margin-left: 20px;
}
