* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(251, 210, 50);
}
.logo {
  width: 50px;
}
.logo-text {
  font-size: 13px;
}
.nav-link:hover {
  color: red !important;
}
.button-1:hover {
  background-color: black !important;
  color: red !important;
}
.navbar-toggler:focus {
  box-shadow: none;
  border: none;
}

/* Custom styling for the navbar toggler */
.custom-toggler {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 60px;
}
.bar {
  display: block;
  height: 4px;
  background-color: #333;
  float: right;
  margin-bottom: 5px;
}
.bar1 {
  width: 100%;
  margin-bottom: 5px;
}

.bar2 {
  width: 75%;
  top: 50%;
}

.bar3 {
  width: 50%;
  top: 100%;
  margin-bottom: 0;
}
