.hero {
    padding: 10px 70px 130px 70px;
  
    text-align: center;
    color: #ffffff;
  }
  
  .title {
    font-size: 100px;
    font-weight: 800;
    line-height: 100px;
    text-align: center;
    margin-bottom: 20px;
  
    span {
      color: #ff6f0f;
    }
  }
  
  .subtitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #ffffff;
    margin: 0 auto;
    max-width: 800px;
  }
  